:root {
    /* Common break-point for screen sizes */
    --desktop: 1200px; 
    --laptop: 1024px;
    --tablet: 780px;
    --phone: 480px;
}

*{
    margin: 0;
    padding: 0;   
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh; /* 100vh means na kukunin nya lang yung view height ng screen */
    background-image: url("bcgd.svg");
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}  

header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    padding: 0px 2%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 20px;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #FFA800;
}
.signin {
    color: #FFA800;
    font-size: 15px;
    margin-right: 5%;
    font-size: 15px;
    font-weight: 700;
}
.signin:hover{
    color: white;
}

.hamburger-menu {
    display: none;
}


@media (max-width:480px){
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .hamburger-menu .line{
        width: 25px;
        height: 2px;
        background: #fff;
        margin: 3px 0;
    }
    header {
        padding: 20px;
    }
    
    header .navbar{
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #222222;
        display: none;
        transition: 0.9s;
    }


    header .navbar.active{
        display: initial;
        height: 250px;
    }


    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li a{
        width: 100%;
    }

    header .navbar ul li a:hover {
        background-color: #FFA800;
    }
}   

/* Content Area */
.PizzaCrust{
    position: absolute;
    width: 232px;
    height: 10px;
    left: 90px;
    top: 101px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}
.introduce{
    position: absolute;
    width: 700px;
    height: 50px;
    left: 90px;
    top: 160px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}
.perpendicular-line {
    position: absolute;
    width: 685px;
    height: 0px;
    left: 0px;
    top: 50px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0;
    transform: rotate(180deg);
    border: 1px solid #FFFFFF;
  }
.Member-position{
    position: absolute;
    width: 180px;
    height: 26px;
    left: 0px;
    top: 150px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;

    color: #FFFFFF;
}
.membersName{
    position: absolute;
    width: 300px;
    height: 26px;
    left: 300px;
    top: 150px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    transition-duration: 0.4s;
    cursor: pointer;

    color: #FFFFFF;
}
.member1:hover{
        color: #FFA800;
}
.member2:hover{
    color: #FFA800;
}
.member3:hover{
    color: #FFA800;
}
.member4:hover{
    color: #FFA800;
}
.member5:hover{
    color: #FFA800;
}

.icons{
    position: absolute;
    width: 162px;
    height: 70px;
    left: 280px;
    top: 690px;
    word-spacing: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    filter: drop-shadow(0px 10px 4px rgba(169, 123, 35, 0.29));
}
.follow{
    position: absolute;
    width: 200px;
    height: 23px;
    left: 90px;
    top: 700px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */


    color: #FFFFFF;
}