body{
    background-image: url("bcgd.svg");
    background-attachment: fixed;
}   
.topnav{
    overflow: hidden;
    background-color: #222222;
    width: 100%;
    height: 60px;
    left: 0px;
    position: absolute;
    top: 0;
    right: 0px;
    display: block;
    transition: top 0.3s;

}
.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    left: 7.08%;
    right: 89.03%;
    top: 34.29%;
    bottom: 32.86%;
    margin-right: 2%;
    display: block;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}
.topnav a:hover{
    background-color: #FFA800;
    color:white;
}
.Title{
    position: absolute;
    width: 700px;
    height: 46px;
    left: 130px;
    top: 198px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 46px;
    /* identical to box height */
    color: #FFA800;
}
.body{
    background-image: url("bcgd.svg");
    background-attachment: fixed;
}   
.topnav{
    overflow: hidden;
    background-color: #222222;
    width: 100%;
    height: 60px;
    left: 0px;
    position: absolute;
    top: 0;
    right: 0px;
    display: block;
    transition: top 0.3s;

}
.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    left: 7.08%;
    right: 89.03%;
    top: 34.29%;
    bottom: 32.86%;
    margin-right: 2%;
    display: block;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}
.topnav a:hover{
    background-color: #FFA800;
    color:white;
}
.Title{
    position: absolute;
    width: 700px;
    height: 46px;
    left: 130px;
    top: 198px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 46px;
    /* identical to box height */
    color: #FFA800;
}
.homeprg{
    position: absolute;
    width: 520px;
    height: 73px;
    left: 130px;
    top: 279px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 10px;
    color: #FFFFFF;
}
.backtoorder {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 129px;
    top: 380px;
    background-color: #FFA800;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    filter: drop-shadow(0px 10px 4px rgba(169, 123, 35, 0.29));

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;

    color: #000000;
}
.backtoorder:hover{
    background-color: #FFA800;
    color: white;
}
.signin{
    position: absolute;
    box-sizing: border-box;
    background-color: #222222;
    left: 86.25%;
    right: 6.25%;
    top: 2%;
    height: 6%;
    transition-duration: 0.4s;
    cursor: pointer;
    
    border: 1px solid #FFA800;
    border-radius: 5px;

    /* signup text*/
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    text-align: center;

    color: #FFA800;
}
.signin:hover{
    background-color: #FFA800;
    color: white;
}
.a{
    position: absolute;
    width: 40px;
    height: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
} 
.icons{
    position: absolute;
    width: 162px;
    height: 40px;
    left: 130px;
    top: 450px;
    word-spacing: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    filter: drop-shadow(0px 10px 4px rgba(169, 123, 35, 0.29));
}
