:root {
    /* Common break-point for screen sizes */
    --desktop: 1200px; 
    --laptop: 1024px;
    --tablet: 780px;
    --phone: 480px;
}

*{
    margin: 0;
    padding: 0;   
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh; /* 100vh means na kukunin nya lang yung view height ng screen */
    background-image: url("bcgd.svg");
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}  

header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    padding: 0px 2%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 20px;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #FFA800;
}
.signin {
    color: #FFA800;
    font-size: 15px;
    margin-right: 5%;
    font-size: 15px;
    font-weight: 700;
}

.hamburger-menu {
    display: none;
}


@media (max-width:480px){
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .hamburger-menu .line{
        width: 25px;
        height: 2px;
        background: #fff;
        margin: 3px 0;
    }
    header {
        padding: 20px;
    }
    
    header .navbar{
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #222222;
        display: none;
        transition: 0.9s;
    }


    header .navbar.active{
        display: initial;
        height: 250px;
    }


    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li a{
        width: 100%;
    }

    header .navbar ul li a:hover {
        background-color: #FFA800;
    }
}   

.Title{
        position: absolute;
        width: 700px;
        height: 46px;
        left: 50px;
        top: 95px;
    
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        /* identical to box height */
        color: #FFA800;
}
.column{
    position: fixed;
}
.column1{
        box-sizing: border-box;
        position: absolute;
        top:160px;
        left: 50px;
        width: 625px;
        height: 400px;
        padding: 20px;
        background: rgba(38, 38, 38, 0.9);
        border-radius: 10px;
        border: 1px solid #FFA800;
        font-family: 'Arial'
}
            .column1 h1{
                    position: relative;
                    font-size: 18px;
                    color: #FFA800;
                    top:0px;
                    left: 10px;
                    font-weight: bolder;
            }
            .column h2{
                    position: relative;
                    font-size: 16px;
                    color: #ffff;
                    top:-28px;
                    left: 350px;
            }
            .column1 p{
                    position: relative;
                    font-size: 18px;
                    color: #ffff;
                    top:-20px;
                    left: 30px;
                    line-height: 15px;
            }
            .perpendicular-line{
                    width: 580px;
            }
            .column1 h3{
                    position: relative;
                    font-size: 20px;
                    color: #FFA800;
                    top:80px;
                    left: 15px;
                    font-weight: bolder;
            }
            .Select{
                    position: relative;
                    width: 120px;
                    height: 40px;
                    left: 450px;
                    top: 30px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    background: #FFA800;
                    border-radius: 10px;
                    font: arial;
                    font-size: 20px;
            }
            .Select:hover{
                    background-color: #FFA800;
                    color: white;
            }
.column2{
        box-sizing: border-box;
        position: absolute;
        top:0px;
        left: 640px;
        width: 625px;
        height: 400px;
        padding: 20px;
        background: rgba(38, 38, 38, 0.9);
        border-radius: 10px;
        border: 1px solid #FFA800;
}


