:root {
    /* Common break-point for screen sizes */
    --desktop: 1200px; 
    --laptop: 1024px;
    --tablet: 780px;
    --phone: 480px;
}

*{
    margin: 0;
    padding: 0;   
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh; /* 100vh means na kukunin nya lang yung view height ng screen */
    background-image: url("bcgd.svg");
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}  

header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    padding: 0px 2%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 20px;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #FFA800;
}
.signin {
    color: #FFA800;
    font-size: 15px;
    margin-right: 5%;
    font-size: 15px;
    font-weight: 700;
}

.signin:hover{
    color: white;
}

.hamburger-menu {
    display: none;
}


@media (max-width:480px){
    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .hamburger-menu .line{
        width: 25px;
        height: 2px;
        background: #fff;
        margin: 3px 0;
    }
    header {
        padding: 20px;
    }
    
    header .navbar{
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #222222;
        display: none;
        transition: 0.9s;
    }


    header .navbar.active{
        display: initial;
        height: 250px;
    }


    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li a{
        width: 100%;
    }

    header .navbar ul li a:hover {
        background-color: #FFA800;
    }
} 

/* Content Area */
.Title{
    position: absolute;
    width: 374px;
    height: 46px;
    left: 130px;
    top: 122px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-align:center;
    /* identical to box height */
    color: #FFA800;
}

.inputfield {
    position: absolute;
    width: 374px;
    height: 54px;

    background: #333333;
    border-radius: 10px;
    border: none;
    padding: 0 10px;

    /* sample123@gmail.com */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;

    color: #FDFDFD;
}

.usertxtbox{
    
    left: 128px;
    top: 240px;
    
}
.passtxtbox{
    
    left: 128px;
    top: 334px;
    
}
.label {
    position: absolute;
    width: 104px;
    height: 23px;
    left: 130px;
    top: 212px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    color: #BBBBBB;
}
.username{
    left: 130px;
    top: 212px;
}
.pass{
    left: 130px;
    top: 306px;
}

.signinbtn{
    position: absolute;
    width: 394px;
    height: 50px;
    left: 128px;
    top: 435px;

    background: #FFA800;
    border-radius: 10px;
    border: none;
    /* Sign-In */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    transition-duration: 0.4s;
    cursor: pointer;

    color: #000000;
}
.signinbtn:hover{
    background-color: #FFA800;
    color: white;
}

.FP{
    position: absolute;
    font-family: 'Arial';
    font-size: 15px;
    left: 132px;
    top: 400px;
    color: #FFFFFF;
    transition-duration: 0.4s;
    cursor: pointer;
}
.FP:hover{
    text-decoration:underline;
}

.DHA{
    /* Don’t have an Account? */
    position: absolute;
    width: 159px;
    height: 17px;
    left: 132px;
    top: 490px;
    transition-duration: 0.4s;
    cursor: pointer;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    color: #FFFFFF;
}
.DHA:hover{
    text-decoration:underline;
}